<div class="date-select">
  <%= link_to '< ' + (@date - 1.day).strftime('%d.%m.%Y'), reports_path(date: (@date - 1.day).to_param), class: 'prev-date' if @date > (Date.today - 10.days)%>
  <%= link_to (@date + 1.day).strftime('%d.%m.%Y') + ' >', reports_path(date: (@date + 1.day).to_param), class: 'next-date' if @date < Date.today %>
</div>

<h1 class="title">Report - <%=  @date.strftime('%d.%m.%Y') %> </h1>

<% if @day_text.text.present? %>
  <div>
    <%= @day_text.text.html_safe %>
  </div>
<% end %>

<% if @resumes.empty? %>
  <h2>No data Available</h2>
<% else %>
  <%= link_to reports_path(date: @date.to_param, format: "csv"), class: 'btn btn-success add-button' do %>
    <i class="fa fa-download" aria-hidden="true"></i>
    Download CSV
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="first-col">Region(s)</th>
          <% @resumes.each do |resume| %>
            <th><%= resume.region %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% Resume.headers.each do |attribute, name| %>
          <tr class="<%= attribute == :total_pods ? 'total' : '' %>">
            <th class="first-col"><%= name %></th>
            <% @resumes.each do |resume| %>
              <td>
                <% if resume.send(attribute).is_a?(Float) %>
                  <%= number_with_precision(resume.send(attribute), precision: 2)  %>
                <% else %>
                  <%= resume.send(attribute) %>
                <% end %>
              </td>
            <% end %>
          </tr>
          <% if [:nb_sites, :flowers, :total_pods].include?(attribute) %>
              </tbody>
            </table>
            <table class="table table-striped table-hover">
              <tbody>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
