<h1 class="title">Report</h1>
<%= link_to reports_path(format: "csv"), class: 'btn btn-success add-button' do %>
  <i class="fa fa-download" aria-hidden="true"></i>
  Dowload CSV
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>report date</th>
        <th>creation date</th>
        <th>Site reference</th>
        <th>humidity</th>
        <th>canopy</th>
        <th>leaf</th>
        <th>maintenance</th>
        <th>flowers</th>
        <th>bp</th>
        <th>harvesting</th>
        <th>drying</th>
        <th>fertilizer</th>
        <th>wilt</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.taken_at.to_date.strftime('%d.%m.%Y') %></td>
          <td><%= report.created_at.in_time_zone('CET').strftime('%d.%m.%Y %H:%M:%S %z') %></td>
          <td><%= report.site_reference %></td>
          <td><%= report.humidity %></td>
          <td><%= report.canopy %></td>
          <td><%= report.leaf %></td>
          <td><%= report.maintenance %></td>
          <td><%= report.flowers %></td>
          <td><%= report.bp %></td>
          <td><%= report.harvesting %></td>
          <td><%= report.drying %></td>
          <td><%= report.fertilizer %></td>
          <td><%= report.wilt %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
