<div class="date-select">
  <%= link_to '< ' + (@date - 1.day).strftime('%d.%m.%Y'), raw_reports_path(date: (@date - 1.day).to_param) %>
  <%= link_to (@date + 1.day).strftime('%d.%m.%Y') + ' >', raw_reports_path(date: (@date + 1.day).to_param) %>
</div>

<h1 class="title"><%= @date.strftime('%d.%m.%Y') %></h1>
<%= link_to raw_reports_path(format: "csv", date: @date.to_param), class: 'btn btn-success add-button' do %>
  <i class="fa fa-download" aria-hidden="true"></i>
  Dowload CSV
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Report creation date</th>
        <th>Visit date</th>
        <th>Site reference</th>
        <th>Gps coordinates</th>
        <th>Age</th>
        <th>Ipad</th>
        <th>Humidity</th>
        <th>Canopy</th>
        <th>Leaf</th>
        <th>Maintenance</th>
        <th>Flowers</th>
        <th>Bp</th>
        <th>Wilt</th>
        <th>Harvesting</th>
        <th>Drying</th>
        <th>Fertilizer</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.created_at.in_time_zone('CET').strftime('%d.%m.%Y %H:%M:%S %z') %></td>
          <td><%= report.taken_at.to_date.strftime('%d.%m.%Y') %></td>
          <td><%= report.site_reference %></td>
          <td><%= report.site_longitude %>/<%= report.site_latitude %></td>
          <td><%= report.site_age %></td>
          <td><%= report.device %></td>
          <td><%= report.humidity %></td>
          <td><%= report.canopy %></td>
          <td><%= report.leaf %></td>
          <td><%= report.maintenance %></td>
          <td><%= report.flowers %></td>
          <td><%= report.bp ? 'yes' : 'no' %></td>
          <td><%= report.wilt ? 'yes' : 'no' %></td>
          <td><%= report.harvesting ? 'yes' : 'no' %></td>
          <td><%= report.drying ? 'yes' : 'no' %></td>
          <td><%= report.fertilizer ? 'yes' : 'no' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
